<header><h2><%= @band.name %></h2></header>
<div class='section'>
  <header><h3>Update Info</h3></header>
  <form action='/bands/<%= @band.id %>/edit' method='post'>
    <input type='hidden' name='_method' value='patch'>
    <input type='text' name='name' id='name'>
    <button type='submit'>Update</button>
  </form>
</div>

<div class='section'>
  <header><h3>Delete This Band</h3></header>
  <form action='/bands/<%= @band_id %>/edit' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <button type='submit'>Delete</button>
  </form>
</div>
