<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/band_venue.css">
	</head>
	<body>
		<div id='container'>
			<header>
				<a href='/bands'>Bands</a>
				<a href='/venues'>Venues</a>
			</header>
			<%= yield %>
		</div>
	</body>
</html>
